extends layout

block content
  h1 Welcome to #{title}
  if userid
    form.user_input(action='/search', method='post')
      label(for='search')
        span Search Customer
        input(type='text', name='search', id='search')
      label.control-lable(for='submit')
        span
        input(type='submit', id='submit', value='Search')
    br
    form.user_input(action='/search/parts', method='post')
      label(for='search')
        span Search Parts
        input(type='text', name='search', id='search')
      label.control-lable(for='submit')
        span
        input(type='submit', id='submit', value='Search') 
  else
    h2 Login To Search
