extends ../layout

block content
  h1 Add Parts

  form.user_input(action='/parts', method='post')
    label(for='prodName')
        span Product Name
        input(type='text', name='prodName', id='prodName', required='true')
    label(for='prodDesc')
        span Product Description
        input(type='text', name='prodDesc', id='prodDesc', required='true')
    label(for='manufacturer.manuName')
        span Manufacturer Name
        input(type='text', name='manufacturer.manuName', id='manufacturer.manuName', required='true')
    label(for='manufacturer.manuContactPerson')
        span Contact Person
        input(type='text', name='manufacturer.manuContactPerson', id='manufacturer.manuContactPerson', required='true')
    label(for='manufacturer.manuContactNr')
        span Contact Phone Nr
        input(type='text', name='manufacturer.manuContactNr', id='manufacturer.manuContactNr', required='true')
    label(for='manufacturer.hqAddress')
        span HQ Address
        input(type='text', name='manufacturer.hqAddress', id='manufacturer.hqAddress', required='true')
    label(for='manufacturer.hqCity')
        span HQ City
        input(type='text', name='manufacturer.hqCity', id='manufacturer.hqCity', required='true')
    label.control-lable(for='submit')
        span
        input(type='submit', id='submit', value='Save')