extends ../layout

block content
  h1 Add Car

  form.user_input(action='/cars', method='post')
    label(for='car_type')
        span Brand
        input(type='text', name='car_type', id='car_type', required='true')
    label(for='car_model')
        span Model
        input(type='text', name='car_model', id='car_model', required='true')
    label(for='horsepower')
        span Horsepower
        input(type='text', name='horsepower', id='horsepower', required='true')
    label(for='fuel')
        span Fuel Type
        br
        select.dropdown_window(type='text', name='fuel', id='fuel', required='true')
            option Petrol
            option Diesel
            option Jet Fuel
            option Grass
            option Gas
    label(for='transmition')
        span Transmition
        br
        select.dropdownn_window(type='text', name='transmition', id='transmition', required='true')
            option Automat
            option Manual
    label.control-lable(for='submit')
        span
        input(type='submit', id='submit', value='Save')